# Seatwork 1.1 Practice Set 1
Indexing and Slicing using Python. Submitted by Daryll Jose

## 1. Type the expressions below, and try to explain what's happening in each case.

In [1]:
2 ** 16 # Does exponent operation

65536

In [2]:
2 / 5, 2 / 5.0 # Performs division, creates a tupled result, with implicit type conversion

(0.4, 0.4)

In [3]:
"spam" + "eggs" # Concatenates strings (without space)

'spameggs'

In [4]:
S = "ham" # Assigns value to the variable 'S'

In [5]:
"eggs " + S # Concatenates string and the value of the variable

'eggs ham'

In [6]:
S * 5 # Repeats strings 5 times

'hamhamhamhamham'

In [7]:
S[:0] # Creates a slice from the variable s

''

In [8]:
"green %s and %s" % ("eggs", S) # Prints results using C formatting?

'green eggs and ham'

In [9]:
('x',) [0] # Calls out a value from a tuple, 0-index, error if tuple value is NULL

'x'

In [10]:
('x', 'y') [1] # Calls out a value from a tuple, 0-index

'y'

In [11]:
L = [1,2,3] + [4,5,6] # Appends 2nd list to the 1st list and assigns to the variable L

In [12]:
# Creates a tuple from indexed list variable L
L # L - Calls out full list of the variable
L[:] # L[:] - Calls out full list of the variable
L[:0] # L[:0] - Calls out from start until 0 index (exclusive)
L[-2] # L[-2] - Calls out 2nd index from the end
L[-2:]# L[-2:] - Calls out from 2nd index from the end up to the end

[5, 6]

In [13]:
([1,2,3] + [4,5,6]) [2:4] # Creates a slice from 2 until 4 (exclusive)

[3, 4]

In [14]:
[L[2], L[3]] # Creates a list explicitly from indexed list variable L

[3, 4]

In [15]:
L.reverse(); L # Reverses index order of variable L

[6, 5, 4, 3, 2, 1]

In [16]:
L.sort(); L  # Sort values by dictionary order

[1, 2, 3, 4, 5, 6]

In [17]:
L.index(4) # Gives the index of element "4" in the variable L

3

In [18]:
{'a':1, 'b':2} ['b'] # Calls out the value of key 'b' from the dictionary

2

In [19]:
D = {'x':1, 'y':2, 'z':3} # Creates a dictionary (key:value pairing), assigns to variable D

In [20]:
D['w'] = 0 # Adds a new key:value pairing to dictionary variable D

In [21]:
D['x'] + D['w'] # Performs addition operation from the returned value from the dictionary based on the called out key (1 + 1)

1

In [22]:
D[(1,2,3)] = 4 # Adds a new key:value pairing - tuple as key - to variable D

In [23]:
D.keys() # Returns all keys of the dictionary variable D

dict_keys(['x', 'y', 'z', 'w', (1, 2, 3)])

In [24]:
D.values() # Returns all values of the dictionary variable D

dict_values([1, 2, 3, 0, 4])

In [25]:
(1, 2, 3) in D # Checks if the key (tuple in this case) is in the dictionary variable D. Instead of has_key (because this function is deprecated) we use the "in" operator

True

## 2. Define a list named L that contains four strings or numbers. Experiment with the following boundary cases.

In [26]:
L = [1, 2, 3, 4]

### 2.1. Attempt to index out of bounds. (Ex. L[66])

In [27]:
L[66] # Results to IndexError: list index out of range

IndexError: list index out of range

### 2.2. Attempt to slice out of bounds. (Ex. L[-9999:100])Attempt to slice out of bounds. (Ex. L[-9999:100])Attempt to slice out of bounds. (Ex. L[-9999:100])

In [ ]:
L[-9999:100] # ':' semi-colon indicates slice, no issues with the start-end (exclusive) limitation

### 2.3. Try extracting a sequence in reverse. Make the lower bound higher than the upper bound (Ex. L[3:1]). Attempt to perform L[3:1] = ['?']. Explain the output.

In [ ]:
L[3:1] # Results to []. The slice doesn't follow the start:end:step (with direction)

## 3. Define another list L, perform the following and use comments to explain:

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]

### 3.1. Assign a list as one of its elements.

In [ ]:
L[0] = [1, 2, 3]
L # L is now [[1, 2, 3], 2, 3, 4, 5, 6, 7]

### 3.2. Assign an empty list to a range.

In [ ]:
L[1:3] = [] # Removes elements at indices 2 and 3
L # Results L = [[1, 2, 3], 4, 5, 6, 7]

### 3.3. Delete an item in your list using the del statement.

In [ ]:
del L[1]  # This removes the element at index 1
L # L = [[1, 2, 3], 5, 6, 7]

### 3.4. Delete an entire range from your list.

In [ ]:
del L[2:] # This removes elements from index 2 up to the end.
L # L = [[1, 2, 3], 5]

### 3.5 Assign a non-sequence value to a slice

In [ ]:
L[1:] = 4 
L
# The code results to a slice, which may have a multiple elements which a value cannot be assigned directly. TypeError: must assign iterable to extended slice

## 4. Create a dictionary named D with three entries, for keys a, b, and c.

In [ ]:
D = {'a':1, 'b':2, 'c':3}

### 4.1. What happens if you try to index a nonexistent key d (D[‘d’])?

In [ ]:
D['d'] # Results to an error due to key 'd' is inexistent to the dictionary D

### 4.2. What does python do if you try to assign to a nonexistent key?

In [ ]:
D['d'] = 4 
D # Python will add a new pair of key-value in the dictionary. D now looks like {'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 4.3. Compare this to out of bounds assignments.

In [ ]:
L = [1, 2, 3] # Creates a list version of the dictionary
L[3] = 4 # IndexError: list assignment index out of range

'''
Indexing a nonexistent key in a dictionary raises a "KeyError".
Assigning to a nonexistent key in a dictionary creates a new key-value pair.
Assigning to an out-of-bounds index in a list raises an "IndexError".
'''

## 5. Run tests to answer the following questions:

### 5.1. What happens when you try to use the + operator on different/mixed types?

In [ ]:
"string" + 1 # It will result to a TypeError: can only concatenate str (not "int") to str

#### 5.2. Does + work if one of the operands is a dictionary?

In [ ]:
{'a': 1, 'b': 2} + {'c': 3, 'd': 4} # No. It resulted to TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#### 5.3. Try list.append() (use an actual list you created). Does the append() method work for both lists and strings?

In [ ]:
L1 = [1, 2]
L2 = [3, 4]
L1.append(L2)
L1 # L1 is now [1, 2, [3, 4]]

In [ ]:
A = "a"
B = "b"
A.append(B) # This will result to AttributeError: 'str' object has no attribute 'append'
# Append works on lists but not on strings

#### 5.4. Try concatenating (+) two lists or strings, what happens?

In [ ]:
L3 = L1 + L2 # Returns nothing
print(A + B) # Results to "ab"
# Concatenating using (+) does not work with lists

## 6. Define a string S of four characters. Then type the following expression: S[0] [0] [0] [0]. Explain what is happening.

In [ ]:
S = "abcd"

# Evaluate the expression
result = S[0][0][0][0]

'''
S[0] returns the first character of the string S, which is "a".
Next, "a"[0] returns the first character of the string "a", which is again "a".
The same process repeats for the next two [0], each time returning the first character of the string "a".
Since we're repeatedly accessing the first character of the single-character string "a", the final result is simply "a".
'''

## 7. Define a string S of 4 characters again: S = “spam”. Write an assignment that changes the string to “slam”, using only slicing and concatenation. Does it work? Try index assignment.

In [ ]:
# Using only slicing and concatenation.
S = "spam"
S = S[0:1] + "l" + S[2:] 
print(S)
# Does it work? yes

# Using index assignment
S = "spam"
S[1] = "l"
print(S) 
# Doesn't work. TypeError: 'str' object does not support item assignment